/* GAME */
.game {
  padding: 80px 50px 20px 50px;
}

.game h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.game > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game .game-details-img img {
  width: 49%;
  object-fit: cover;
  border-radius: 10px;
}

/*******************************/
/* MEDIA QUERIES */
/*******************************/

@media (max-width: 750px) {
  .game > h1 {
    text-align: center;
  }

  .game > div {
    flex-direction: column;
    align-items: center;
  }

  .game .game-details-img img,
  .game-details {
    min-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
  .game {
    padding: 80px 20px 20px 20px;
  }

  .game h1 {
    font-size: 20px;
  }
}
