/* Other rules */

/* APP */
.app {
  background-color: #1f2023;
  font-family: "Georama", sans-serif;
  color: white;
  width: 1120px;
  margin: 0 auto;
  min-height: 100vh;
}

/* Fonts imported from Google Fonts : */
/* font-family: 'Dosis', sans-serif;
font-family: 'Georama', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

/* side color : #171719 */
/* Background color : #1F2023 */
/* red : #FF4655 */
/* padding: 20px 50px */

/*******************************/
/* MEDIA QUERIES */
/*******************************/

@media (max-width: 1124px) {
  .app {
    width: 100%;
  }
}
